{% extends 'base.html.twig' %}
{% block content_right %}
    <section>
        <div>
            <h2 class="titreCenter txtCenter">Notre équipe</h2>
            <div class="container">
                <div class="row">
                {% for info_membre in infos_membre %}
                    <div class="col-xl-4 col-lg-4 col-md-6 respTelImg">
                        <img id="profilPose" src="{{ asset(info_membre.fichier.cheminFichier) }}" alt="profil">
                        <p class="txtCenter">{{ info_membre.nomMembre }}</p>
                        <p class="txtCenter">{{ info_membre.descMembre }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div>
                    <h3 class="titreCenter txtCenter">Actions menées par le CSE</h3>
                <div>
                    {% for info_action in infos_action%}
                        <p class="txtCenter">{{ info_action.descAct}}</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h3  class="titreCenter txtCenter"> Règlement du CSE </h3>
                <div>
                    {% for info_aPropos in infos_aPropos%}
                        <p class="txtCenter">{{ info_aPropos.descReglements}}</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h3  class="titreCenter txtCenter">Contacter le CSE</h3>
                <div class="txtCenter">
                    {% for info_aPropos in infos_aPropos%}
                        <a href="mailto:{{info_aPropos.email}}">{{ info_aPropos.email }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}