<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1." />
    <title>Modifier de l'action</title>
    <link href="{{ asset('static/css/app.css') }}" rel="stylesheet"/>
</head>
<body>
<!-- formulaire pour modifier une action avec un hypertext de type balloon -->
<h1 class="title_bo">Modifier une action</h1>
<div id="part_form" style="margin-top: 50px;display: flex;flex-direction: column;align-items: center;">
    {{ form_start(form) }}

    <p>Modifier le nom d'une action :</p>
    {{ form_row(form.nom_act) }}
    <div id="editorNomActionModif" style="border: solid 1px"></div>
    <p>Modifier la description d'une action :</p>
    {{ form_row(form.desc_act) }}
    <div id="editorDescActionModif" style="border: solid 1px"></div>


    {{ form_end(form) }}
</div>
<div class="back_path">
    <a href= {{ path('actionAffiche') }}>Retour</a>
</div>
</body>
<!-- les lien pour le formulaire en hypertext -->
{% block javascripts %}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}
</html>