<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1." />
    <title>Ajout partenaire</title>
    <link href="{{ asset('static/css/app.css') }}" rel="stylesheet"/>
</head>
<body>
<h1 class="title_bo">Ajouter un propos</h1>
<div class="part_form">
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.descReglements) }}

    {{ form_end(form) }}
</div>
<div class="back_path">
    <a href= {{ path('aProposAffiche') }}>retour</a>
</div>
</body>
</html>