{% extends 'basebo.html.twig' %}
{% block body %}
    {% include "admin/_flashes.html.twig" %}
    <h1 class="title_bo">Ajouter un partenaire</h1>
    <div class="part_form">
        {{ form_start(form) }}

            {{ form_row(form.nom_part) }}
            {{ form_row(form.desc_part) }}
            {{ form_row(form.lien_part) }}
            {{ form_row(form.image) }}

            <input type="hidden" name="{{ form.fichier_id.vars.full_name }}" id="{{ form.fichier_id.vars.id }}" value="{{ form.fichier_id.vars.value }}" />

        {{ form_end(form) }}
    </div>
    <div class="back_path">
        <a href= {{ path('partList') }}>retour</a>
    </div>
{% endblock %}