{% extends 'basebo.html.twig' %}
{% block body %}
<body>
    <h1 class="title_bo">Modifier un partenaire</h1>
    <div class="part_form">
        {{ form_start(form) }}
            {{ form_row(form.nom_part) }}
            {{ form_row(form.desc_part) }}
            {{ form_row(form.lien_part) }}
        {{ form_end(form) }} 
        <a href="{{ path('img_partenaire', {'id': part.id}) }}">Voir l'image</a>   
    </div>
    <div class="back_path">
        <a href= {{ path('partList') }}>retour</a>
    </div>
{% endblock %}