{% extends 'base.html.twig' %}

{% block content_right %}
<section id="recentrer">
    <h2 class="center">Partenaires</h2>
    <div class="part_flex">
        {% for partenaire in partenaire %}
            <div class="right-section part_right">
                <div class="partenaire">
                    <img src= "{{ asset ( partenaire.fichier.cheminFichier ) }}"  alt="Mon image" class="img_part">
                    <h3 class="center FS">{{ partenaire.nom_part }}</h3>
                    <button type="button" class="btn btn-warning btn_part" data-bs-toggle="modal" data-bs-target="#modalPart-{{partenaire.id}}">En savoir plus</button>

                    <!-- Modal affichant la description des partenaires -->
                    <div class="modal fade" id="modalPart-{{partenaire.id}}" tabindex="-1" aria-labelledby="ModalPartLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalPartLabel">{{partenaire.nom_part}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{partenaire.desc_part}} </br>
                                    <a href = "{{partenaire.lien_part}}" target="_blank"> {{partenaire.lien_part}}</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}