{% extends 'base.html.twig' %}

{% block content_right %}
<section class="right-section">
    <h1 class="offerTitle">BILLETTERIE</h1>
    <h2 class="offer_menu"> <span class="o_aff">Offres permanentes</span> / <a href={{ path('offresLim')}} class="o_sel">Offres limitées</a> </h2>
    <div class="actualiser">
        <a href= {{ path('actualiser_perm') }}  class="btn btn-primary btnAct">Actualiser les offres</a>
    </div>
    {% for offre in pagination %}
        <div class="offer_content">
            <!-- Partie haute de la div -->
            <div class="top_content_offer">
                <div class="type_offer">
                    <p> Offre permanente </p>
                </div> 
                <div class="time_offer">
                    <p>  Publiée le {{ offre.date_insert_offre.format('d-m-y') }} - Du {{ offre.date_debut_val.format('d-m-Y') }} au {{offre.date_fin_val.format('d-m-Y')}} </p>
                </div>
            </div>
            <!-- nom de l'offre -->
            <div class="name_offer">
                <h4> {{ offre.nom_offre }}</h4>
            </div>
            <div class="desc_offer">
                <p>{{ offre.desc_offre }}</p><br/>
                <p> Nombre de places minimum : {{ offre.nb_places_min }}</p><br/>
                <p> Merci de vous rendre au bureau du CSE pour passer commande </p>
            </div>
            <!-- Partie basse de la div  -->
            <div class="bottom_content_offer">
                <div class="img_offer">
                    <p> Catalogue: <a href=""> tarifs.pdf </a>
                </div>
                <div class="link_offer">
                    <a href = "{{offre.lien_offre}}" target="_blank"> > En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {# afficher les liens de pagination #}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>

{% endblock %}
